html {
  min-height: 100%;
}

h2 {
    margin-top: 0px;
}

.navbar-default {
    color: #FFF;
    background-color: #337AB7;
    /*border-color: #2E6DA4;*/
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #EEE;
}

.logo-last {
    font-size: 65%;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EEE;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #2E6DA4;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #2E6DA4;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

ol li {
    font-size: 16px;
    font-weight: 700;
}

.control-label {
    font-size: 18px;
}

.radios {
    text-align: left;
    font-size: 15px;
    padding-top: 5px;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #2E6DA4;
}

.input-group {
    margin-top: 20px;
}

.input-area{
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-box {
    width: 265px;
}

.error {
    padding-top: 5px;
    margin: 0;
    color: #A00;
}

.permalink {
    margin-top: 30px;
    margin-bottom: 20px;
}

.box {
    box-shadow: 0px 0px 10px #999;
}

.tip {
    color: #BBB;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0px;
}

hr {
    border-width: 4px 0px 0px;
    border-color: #337AB7 -moz-use-text-color -moz-use-text-color;
}

.om {
    margin-top: 40px;
}

#om {
    margin-top: 10px;
}

.play {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.slim-margin {
    margin-bottom: 10px;
}

a button {
    margin-top: 10px;
}

.bot {
    margin-bottom: 20px;
}

.full {
  min-height: 100%;
  min-width: 100%;
  background: url(../img/navitas.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  opacity: .9;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.glyphicon-info-sign {
  font-size: 80%;
  cursor: pointer;
}

.year-head {
  margin-top: 50px;
}

.top-btn {
  float: right;
  margin-top: 12px;
}

.visits {
  margin-top: 30px;
  margin-bottom: 30px;
}
